html {
  box-sizing: border-box;
  cursor: url("pawprint.png"), auto;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
:root {
  --pomodoro: hsl(223, 25%, 40%);
  --shortBreak: hsl(48, 23%, 40%);
  --longBreak: hsl(105, 16%, 40%);
}
body {
  background-image: url("background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: background-color 1s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
progress {
  border-radius: 2px;
  width: 100%;
  height: 12px;
  position: fixed;
  top: 0;
}
progress::-webkit-progress-bar {
  background-color: rgba(0, 0, 0, 0.1);
}
progress::-webkit-progress-value {
  background-color: #fff;
}

.timer {
  text-align: center;
  padding: 50px;
  background-color: rgba(17, 14, 14, 0.8);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.heading {
  font-size: 2rem;
  color: white;
  font-family: "Poppins", cursive;
  margin-bottom: 20px;
  text-align: center;
}

.clock {
  margin: 20px 0;
  font-size: 15rem;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: white;
}

.mode-buttons {
  margin-bottom: 20px;
}

.mode-button {
  font-size: 18px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 600;
  color: #fff;
  border: 1px solid transparent;
  margin: 0 5px;
  border-radius: 4px;
  padding: 2px 12px;
  background: none;
}

.mode-button.active {
  border-color: rgba(129, 129, 129, 0.555);
}
.mode-button:hover {
  background-color: rgba(250, 250, 250, 0.329);
  cursor: url("pawprint.png"), pointer;
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.adjust-button,
.main-button {
  cursor: pointer;
  font-size: 22px;
  height: 55px;
  text-transform: uppercase;
  font-weight: bold;
  width: 55px;
  background-color: white;
  border-width: initial;
  border-style: none;
  margin: 0 10px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out;
}
.adjust-button:hover,
.main-button:hover {
  background-color: #666666;
  cursor: url("pawprint.png"), pointer;
}
.main-button {
  width: 200px;
}

button:focus,
button:active {
  outline: none;
}

.main-button.active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

.fullscreen-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  transition: color 0.3s ease;
}

.fullscreen-button:hover {
  color: rgba(250, 250, 250, 0.329);
  cursor: url("pawprint.png"), pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1024px) {
  .clock {
    font-size: 12rem;
  }
  .mode-button {
    font-size: 14px;
    height: 24px;
    padding: 2px 8px;
  }
  .adjust-button,
  .main-button {
    font-size: 20px;
    height: 45px;
    width: 45px;
  }
  .main-button {
    width: 180px;
  }
}

@media screen and (max-width: 768px) {
  .clock {
    font-size: 10rem;
  }
  .mode-button {
    font-size: 12px;
    height: 20px;
    padding: 2px 6px;
  }
  .adjust-button,
  .main-button {
    font-size: 18px;
    height: 40px;
    width: 40px;
  }
  .main-button {
    width: 160px;
  }
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 8rem;
  }
  .main-buttons {
    flex-direction: column;
  }
  .adjust-button,
  .main-button {
    margin: 10px 0;
  }
  .mode-button {
    font-size: 10px;
    height: 18px;
    padding: 2px 4px;
  }
  .adjust-button,
  .main-button {
    font-size: 16px;
    height: 35px;
    width: 35px;
  }
  .main-button {
    width: 140px;
  }
}
